.flex {
  display: flex;
  justify-items: start;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.flex__item {
  flex: 1;
}

@media (max-width: 768px) {
  .flex {
    gap: 8px;
  }
  
  .flex__item {
    flex-basis: 100%;
  }
}

@media (max-width: 480px) {
  .flex {
    gap: 4px;
  }

  .flex__item {
    flex-basis: 100%;
  }
}
